body > nav > ul {
    background-color: green;
    height: 5em;
}

body > nav > ul > li {
    justify-content: center;
    color: green;
}

body > nav > ul > li > a {
    color:  black;
    display: flex;
    justify-content: center;
    font-size: 2em;
}

body > nav > ul > li > a:hover {
    color: blue;
}
